* {
    padding: 0;
    margin: 0;
}


body{
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    overflow: visible;
}

.navbar {
    background-color: #333;
    color: #ebebeb;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    color: #ebebeb;
}



/*Footer*/
footer {
    background-color: #333;
    color: #ebebeb;
    padding: 40px 0;
}

.footer-social i{
    color: #ebebeb;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    max-height: 250px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    max-width: 100px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin: 10px 0;
}

.footer-links a {
    text-decoration: none;
    color: #ebebeb;
}

.footer-social a {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
}